@model TakeHome.Models.FeedbackForm
@{
    ViewBag.Title = Constants.Views.Titles.Feedback;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="form">
    @using (Html.BeginForm(Constants.Controllers.ActionNamesFeedback.Feedback, Constants.Controllers.Feedback))
    {
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(m => m.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Comments)
            @Html.ValidationMessageFor(m => m.Comments)
        </div>

        <div class="masthead-button-wrapper">
            <input class="btn btn-warning" type="submit" value="Submit" />
        </div>
    </fieldset>
    }
</div>