@model  TakeHome.Models.FeedbackForm

@{
    ViewBag.Title = "ThankYou";
}

@if (Model != null)
{
    <h2>Thank You</h2>
    <fieldset>
        <div class="editor-label">
            <label>@Constants.Forms.FeedBack.Display.FirstName: @Model.FirstName</label>
        </div>
        <div class="editor-label">
            <label>@Constants.Forms.FeedBack.Display.LastName: @Model.LastName</label>
        </div>
        <div class="editor-label">
            <label>@Constants.Forms.FeedBack.Display.Email: @Model.Email</label>
        </div>
        <div class="editor-label">
            <label>@Constants.Forms.FeedBack.Display.Comments: @Model.Comments</label>
        </div>
    </fieldset>
}